global
    log stdout format raw local0
    maxconn 256

defaults
    mode http
    log global
    option httplog
    option http-keep-alive
    timeout connect 3s
    timeout client 5s
    timeout server 5s
    timeout http-request 5s
    timeout http-keep-alive 15s

frontend http_in
    bind :8080 proto h1
    default_backend captured_backend

backend captured_backend
    http-reuse safe
    server relay relay:9000 proto h1
